<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>TEST</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi">

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.min.css" />

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/json-formatter/dist/json-formatter.min.js"></script>

	<script src="holang.js"></script>
	<script src="app.js"></script>
</head>

<body ng-app="app" class="container" ng-controller="MainCtrl">
	<h1>
		<label>TEST</label>		
	</h1>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><label>CODE</label></div>
				<div class="panel-body">
					<textarea class="form-control" ng-model="input.code" rows="8"></textarea>
				</div>
				<div class="panel-footer text-right">
						<button class="btn btn-info btn-md" ng-click="tokenize()">Tokenize</button>
						<button class="btn btn-info btn-md" ng-click="makeTree()">Make tree</button>
						<button class="btn btn-success btn-md" ng-click="run()">Run</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><label>OUTPUT</label></div>
				<div class="panel-body">
					<json-formatter json="output" open="1"></json-formatter>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>